html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}
body {
    background-color: #EBEBEB;
    font-size: 14px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: #444444;
}
/* ===[ Admin Bar ]=== */
.adminbar {
    height: 45px;
    padding: 5px;
    background-color: #222;
    position: fixed;
    width: 100%;
    z-index: 10;
    line-height: 35px;
    color: #aaa;
}
/* ===[ Grid Stuff ]=== */
.the-grid {
    margin: 0 auto;
    z-index: 5;
}
.the-grid.edit {
    position: absolute;
    top: 140px;
    right: 0;
    left: 0;
    bottom: 0;
}
.the-grid .content {
    background: #fff;
    border: solid #e2e2e2 1px;
    padding: 10px 10px 32px 10px;
    color: #444;
}
.the-grid .content .cell-name {
    font-weight: 700;
    font-size: 12px;
    height: 15px;
    margin: 0 0 10px 0;
    padding-left: 2px;
    color: #c7c7c7;
    text-transform: uppercase;
}
/* ===[ Post List ]=== */
.the-grid .post-list { margin-bottom: 10px }
.post-list .post-meta {
    border-top: solid #e2e2e2 1px;
    padding: 5px 2px 10px 2px;
    clear: both;
    cursor: pointer;
}
.post-list .post-meta:last-child { border-bottom: solid #e2e2e2 1px }
.post-meta .status {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    margin: 0 0 -5px 0;
    color: #c7c7c7;
    text-transform: uppercase;
}
.post-meta .draft:before { content: 'Draft' }
.post-list .post-meta:hover .draft { color: #B18080 }
.post-meta .published:before { content: 'Published' }
.post-meta .featured:after { content: ' + Featured' }
.post-list .post-meta:hover .published { color: #75C272 }
.post-list .post-meta.active {
    box-shadow: 0px 1px 10px #BBB;
    margin: 0px -10px;
    padding: 5px 10px 10px 10px;
}
.post-meta .left {
    float: left;
    width: 68%;
}
.post-meta .right {
    float: right;
    text-align: right;
}
.post-meta .title {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    color: #444;
}
.post-meta .views {
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    color: #444;
}
.post-meta .tags,
.date {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    color: #666;
}
.post-meta.active:before {
    content: '';
    width: 0;
    height: 0;
    margin: 2px -20px -10px 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 10px solid white;
    float: right;
}
/* ===[ Post View ]=== */
.post-view .post-holder {
    border-top: solid #e2e2e2 1px;
    border-bottom: solid #e2e2e2 1px;
    padding: 10px 2px;
    clear: both;
    height: 100%;
    overflow: auto;
}
.post-view .content { padding-bottom: 57px }
.post-view .post-holder *:first-child {
    margin-top: 0px;
    padding-top: 0px;
}
.post-view .post-holder *:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.content .left { float: left }
.content .right {
    float: right;
    text-align: right;
}
.post-view .content .right {
    width: 75%;
}
#word-count {
    width: 100%;
}
/* ===[ Post View Toolbar ]=== */
.post-view .draft .left .cell-name:before { content: 'Draft' }
.post-view .published .left .cell-name:before { content: 'Published' }
.post-view .featured .left .cell-name:after { content: ' + Featured' }
.post-view .featured .right i.icon-bolt { color: #FFD324 }
/* ===[ Article Formatting ]=== */
.post-view .post-holder a {
    text-decoration: underline;
    color: #00ADFF;
}
.post-view .post-holder a:hover {
    text-decoration: none;
    border-bottom: 1px solid #0DB8C7;
    border-top: none;
}
.post-view .post-holder h1 {
    font-weight: 700;
    font-size: 40px;
    margin: 10px 0 0 0;
    color: #444;
}
.post-view .post-holder h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 10px 0 0 0;
    color: #444;
}
.post-view .post-holder h3 {
    font-weight: 700;
    font-size: 27px;
    margin: 10px 0 0 0;
    color: #666;
}
.post-view .post-holder h4 {
    font-size: 22px;
    font-weight: 700;
    margin: 10px 0 0 0;
    color: #888;
}
.post-view .post-holder h5 {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 0 0;
    color: #666;
}
.post-view .post-holder h6 {
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0 0 0;
    color: #444;
}
.post-view .post-holder hr {
    border: 1px solid #444;
    margin: 2px 0 2px 0;
}
.post-view .post-holder img {
    display: block;
    margin: 0 auto;
}
.post-view .post-holder p {
    margin: 0 0 10px 0;
    font-size: 14px;
    line-height: 21px;
}
.post-view .post-holder blockquote {
    border-left: solid #EBEBEB 5px;
    padding: 0px 0 5px 10px;
    margin-left: 20px;
}
/* ===[ Post Edit ]=== */
.post-edit .post-holder {
    border-top: solid #e2e2e2 1px;
    border-bottom: solid #e2e2e2 1px;
    padding: 10px 2px;
    clear: both;
    height: 100%;
    overflow: auto;
}
.post-edit .markdown {
    border-left: none;
    border-right: none;
    outline: none;
    overflow: auto;
    resize: none;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: Courier, monospace;
    color: #888;
}
.post-edit .content { padding-bottom: 62px }
.post-edit .post-holder *:first-child {
    margin-top: 0px;
    padding-top: 0px;
}
.post-edit .post-holder *:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
/* ===[ Post Edit Toolbar ]=== */
.post-edit .right i { color: #c7c7c7 }
/* ===[ Icons ]=== */
.content .right i {
    font-size: 17px;
    line-height: 12px;
    padding: 0 10px;
    border-left: solid #e2e2e2 1px;
    cursor: pointer;
}
.content .right i:first-child { border-left: none }
.content .right i:last-child { padding-right: 2px }
.content .right.disabled i {
    color: #e2e2e2;
    cursor: default;
}
#post-title-holder i {
    float: right;
    margin-top: -59px;
    margin-right: 1px;
    font-size: 25px;
    color: #B4B4B4;
    background-color: white;
    padding: 14px;
    cursor: pointer;
}
/* ===[ Post Edit Fullscreen ]=== */
.fullscreen.adminbar {
    display: none;
}
.fullscreen .the-grid.edit {
    top: 60px;
}
.fullscreen .pad-nav {
    padding: 0px;
}
.fullscreen .pad-top {
    padding: 0px;
}
.fullscreen [class*="col-"] {
    padding-right: 0px;
}
/* ===[ Utilities ]=== */
.cl { clear: both }
.none { display: none }
.full-height { height: 100% }
.pad-nav { padding: 55px 10px 10px 10px }
.pad-top { padding: 0px 10px 10px 10px }
#post-title-holder { float: left }
.post-title {
    height: 60px;
    border: solid #E2E2E2 1px;
    font-size: 35px;
    font-weight: 700;
    color: #444;
    padding: 0px 50px 0px 10px;
    line-height: 50px;
    outline: none;
}
.post-title-url:before {
    content: 'Permalink: ';
    font-weight: bold;
}
.post-title-url {
    line-height: 25px;
    color: #999;
}
/* ===[ Responsive ]=== */
@media (max-width: 909px) { 
    .post-meta .left {
        float: left;
        width: 50%;
    }
}
@media (min-width: 768px) { 
    .the-grid .post-view.fixed {
        position: fixed;
        top: 55px;
        right: 0;
        padding-right: 10px;
        padding-bottom: 65px;
    }
}
@media handheld, only screen and (max-width: 767px) { 
    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .the-grid .post-view { padding: 0 10px 10px 10px }
    .the-grid .post-edit { padding: 0 5px 5px 5px }
    .the-grid .post-list { padding-left: 10px }
    .post-list .post-meta.active:before { display: none }
}